@charset "UTF-8";

body{
    margin-top: 80px;
}

main{
    /* height:80vh; */   
    padding-bottom: 50px!important;
    background-color: white;
}

/*
    Header
*/
header{
    position: fixed;
    background-color: white;
    z-index: 9999;
    z-index: 999;
    padding-top: 50px;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    right: 0;
}

/*
    Body
*/
body.default{
    background-color: black;
}
body.home header,
body.default header{
    background-color: transparent;
}
body.home .lower label:before, 
body.home .lower label:after{
    background-color: white!important;
}


/*
    Container
*/
.container.main{
    margin-top: 150px;
    background-color: white;
}
.container.dark{
    margin-top: 150px;
    color: white;
    font-size: 20px;
}

body.home .section{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body.home .section .container{
    text-align: center;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
}
body.home .section .container h1,
body.home .section .container h2{
    color: white;
    /*background-color: rgba(255,255,255,0.7);*/
    /*padding: 10px 20px;*/
    display: inline-block;
}
body.home .section .container h1{
    font-size: 6rem;
}
/*
    Footer
*/
footer{
    color: white;
    font-size: 24px;
    background-color: #101010;
    padding-top: 20px;
    height: 80px;
}

footer a{
    color: white;
}
footer a:hover{
    color: white;
}
body.default footer,
body.home footer{
    position:fixed;
    bottom:0px;
    left: 0px;
    right: 0px;
}

/*
    Close Button
*/
.timeline{
    position: relative;
}
.close {
  position: absolute;
  right: 32px;
  top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.8;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}


/*
    Overlay
*/
.lower{
  opacity:1;
  color:white;
}

input#op{
  display:none;
}

.lower label{
    position: absolute;
    right: 32px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor:pointer;    
}
.lower label:before, .lower label:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #000;
}
.lower label:before {
  transform: rotate(90deg);
}
.lower label:after {
  transform: rotate(0deg);
}

.overlay{
    color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 50px;
    background: rgba(41,250,76,1);
    z-index: 999;
}
.overlay a{
    color: black!important;
    text-decoration: none;
}
.overlay label{
    position: absolute;
    right: 15px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 1;
    z-index: 100;
    cursor:pointer;
}
.overlay label:before, .overlay label:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #000;
}
.overlay label:before {
  transform: rotate(45deg);
}
.overlay label:after {
  transform: rotate(-45deg);
}

.lower~.overlay-hugeinc{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

#op:checked~.overlay-hugeinc{
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay ul{
    margin-top: 100px;
    margin-left: 0;
}
.overlay ul li {
    list-style: none;
    padding-bottom: 20px;
}
.overlay ul li h3{
    padding: 0!important;
    margin: 0!important;
}
